* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  padding: 3em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  background-size: cover;
}

.list {
  text-decoration: line-through;
  color: #fff;
}

.container {
  background-image: url("./background.jpg");
  background-color: #000;
  max-width: 640px;
  width: 70%;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input,
button {
  display: block;
  color: #000;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%;
}

ul {
  color: #fff;
}

header h1 {
  text-align: center;
  color: #fff;
}

button {
  border: none;
  background-color: black;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  margin-top: 32px;
}

form {
  margin-top: 40px;
}

.lista {
  max-width: 320px;
  margin: 0 auto;
  font-size: 20px;
}

li {
  cursor: pointer;
}

.risco {
  text-decoration: line-through;
}
